@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #profile {
    display: block;
  }

  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .menu-links.open {
    max-height: 300px;
  }
}

@media screen and (max-width: 720px) {
  #profile {
    height: 83vh;
  }

  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  .about-containers,
  .experience-details-container {
    flex-direction: column;
    align-items: center;
  }

  .details-container {
    width: 100%;
  }

  .section__pic-container p,
  .col p {
    text-align: center;
  }

  #skill .row img,
  #interests .row img,
  #award .row img {
    width: 15%; 
  }

}

@media screen and (max-width: 600px) {
  footer {
    height: 40vh;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .hamburger-icon {
    width: 25px;
  }
  .hamburger-icon span {
    height: 2px;
    width: 25px;
  }
  .menu-links {
    top: 70px;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  #about {
    margin-top: 3rem;
  }

  .about-containers {
    flex-direction: column;
    align-items: center;
  }

  .details-container {
    width: 100%;
  }

  .section__pic-container p,
  .col p {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  .about-containers,
  .experience-details-container {
    flex-direction: column;
    align-items: center;
  }

  .details-container {
    width: 100%;
  }

  .section__pic-container p,
  .col p {
    text-align: center;
  }
}
